h1 {
  font-family: var(--font-header);
}
.btn {
  position: relative;
  font-size: 1.2rem;
  background-color: rgba(128, 128, 128, 0.324);
  border: 1px solid rgba(127, 255, 212, 0.163);
  border-radius: 2px;
  padding: 0 0.4rem 0.2rem;
  color: white;
}
.btn:hover {
  border: 1px solid white;
  background-color: transparent;
  transition: all 0.5s ease;
}
main {
  position: relative;
  top: 3.3rem;
  min-width: 360px;
  max-width: 1190px;
  height: fit-content;
  width: 100vw;
  margin: 0 auto;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    hsl(196, 97%, 12%)
  );
  z-index: 2;
  /* border: 1px solid red; */
}
section {
  position: relative;
  width: 99vw;
  min-width: 350px;
  max-width: 1190px;

  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 1rem;
  /* border: 1px solid green; */
}
/*----------------------------section background */
.wrapper {
  height: 95vh;
  overflow: hidden;
  background-color: transparent;
  max-width: 1190px;
}
.gradient {
  position: absolute;
  width: 100vw;
  height: 100vh;
  filter: blur(90px);
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    hsl(196, 97%, 12%)
  );
  background-size: cover;
  animation: rotate 15s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  transition: all 0.25s ease-out;
}
.frame {
  position: absolute;
  inset: 15%;
  height: 30vh;
  width: 30vw;
  background-color: hsl(196, 97%, 12%);
  animation: rotate 15s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-radius: 10% 70% 70% 10% / 5% 20% 90% 90%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 150% 10% 110% 20% / 100% 20% 200% 10%;
  }
}
