/* -----------------------------------------------------------------responsive */
/* -----------------------------------------phone */
@media screen and (max-width: 768px) {
  .carousel {
    display: none;
  }
}
/* -----------------------------------------tablet */
/* @media screen and (min-width: 578px) and (max-width: 768px) {
  .carousel {
    display: none;
  }
} */
/* -----------------------------------------laptop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .carousel {
    position: relative;
    height: calc(70vh - 3rem);
    width: 70%;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .carousel-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .slides-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: -100%;
    gap: 0.5rem;
    justify-content: center;
    /* align-items: top; */
  }
  .slide {
    position: relative;
    width: 99%;
    height: 100%;
    /* height: 91.5%; */
    flex: 0 0 auto;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 1rem;
  }

  .slide1 .banner-img1 {
    position: absolute;
    left: -37.5%;
    height: 48%;
    width: 74%;
    object-fit: cover;
    bottom: 0;
    border-top-right-radius: 1rem;
  }
  .slide1 .banner-img2 {
    position: absolute;
    height: 90%;
    width: 50%;
    object-fit: cover;
    right: -17.2%;
    top: 0;
    object-position: center bottom;
    border-bottom-left-radius: 1rem;
  }
  .slide1 .banner-img3 {
    position: absolute;
    right: 55%;
    top: 0;
    height: 38%;
    width: 85%;
    object-fit: cover;
    object-position: 0 39%;
    border-bottom-right-radius: 1rem;
  }
  .slide2 .banner-img2 {
    position: absolute;
    height: 90%;
    width: 50%;
    object-fit: cover;
    left: -34%;
    top: 0;
    object-position: center bottom;
    border-bottom-right-radius: 1rem;
  }
  .slide2 .banner-img4 {
    position: absolute;
    /* top: -3rem; */
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 88.6%;
    width: 58%;
    object-fit: cover;
    object-position: 40% 0;
    border-radius: 1rem;

    /* border: 1px solid red; */
  }
  .slide2 .banner-img5 {
    position: absolute;
    right: -32%;
    bottom: 0;
    height: 60%;
    width: 47%;
    object-fit: cover;
    object-position: 0 70%;
    border-top-left-radius: 1rem;
  }

  .slide3 .banner-img3 {
    position: absolute;
    right: -46.3%;
    top: 0;
    height: 38%;
    width: 85%;
    object-fit: cover;
    object-position: 0 39%;
    border-bottom-left-radius: 1rem;
  }
  .slide3 .banner-img5 {
    position: absolute;
    left: -16%;
    bottom: 0;
    height: 60%;
    width: 47%;
    object-fit: cover;
    object-position: 0 70%;
    border-top-right-radius: 1rem;
  }
  .slide3 .banner-img6 {
    position: absolute;
    top: 0;
    left: -3%;
    width: 40%;
    height: 35%;
    object-fit: cover;
    object-position: 70% 65%;
    border-bottom-right-radius: 1rem;
  }
  .slide3 .banner-img1 {
    position: absolute;
    height: 48%;
    width: 74%;
    object-fit: cover;
    right: -38%;
    bottom: 0;
    border-radius: 1rem;
  }

  .slide-title {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
  }
  .title1 {
    top: 23.5vh;
    font-size: 1.8rem;
  }
  .title1 h1 {
    text-align: center;
  }
  .btn1 {
    display: inline-block;
    left: 50%;
    transform: translateX(-52%);
  }
  .title2 {
    top: 5%;
    font-size: 1.8rem;
  }

  .title2 h1 {
    margin: -0.3rem 4.9rem;
    padding-right: 0.1rem;
  }
  .btn2 {
    display: inline-block;
    top: 37vh;
    left: 50%;
    transform: translateX(-52%);
  }
  .title3 {
    top: 23.5vh;
    font-size: 1.8rem;
  }

  .btn3 {
    display: inline-block;
    left: 50%;
    transform: translateX(-52%);
  }
  /* -----------------------------------slider nav */
  .nav-icons {
    position: absolute;
    width: 5rem;
    height: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 1px solid rgba(127, 255, 212, 0.163);
    border-radius: 2px;
    cursor: pointer;
  }
  .nav-icon:hover {
    border: 1px solid white;
    transition: all 0.5s ease;
  }
}

/* -----------------------------------------desktop */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .carousel {
    position: relative;
    height: calc(70vh - 3rem);
    width: 70%;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .carousel-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .slides-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: -100%;
    gap: 0.5rem;
    justify-content: center;
    /* align-items: top; */
    /* border: 1px solid green; */
  }
  .slide {
    position: relative;
    width: 99%;
    height: 100%;
    /* height: 91.5%; */
    flex: 0 0 auto;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 1rem;
  }
  /* border: 1px solid red; */

  .slide1 .banner-img1 {
    position: absolute;
    left: -37.5%;
    height: 48%;
    width: 74%;
    object-fit: cover;
    bottom: 0;
    border-top-right-radius: 1rem;
  }
  .slide1 .banner-img2 {
    position: absolute;
    height: 90%;
    width: 50%;
    object-fit: cover;
    right: -17.2%;
    top: 0;
    object-position: center bottom;
    border-bottom-left-radius: 1rem;
  }
  .slide1 .banner-img3 {
    position: absolute;
    right: 55%;
    top: 0;
    height: 38%;
    width: 85%;
    object-fit: cover;
    object-position: 0 39%;
    border-bottom-right-radius: 1rem;
  }
  .slide2 .banner-img2 {
    position: absolute;
    height: 90%;
    width: 50%;
    object-fit: cover;
    left: -34%;
    top: 0;
    object-position: center bottom;
    border-bottom-right-radius: 1rem;
  }
  .slide2 .banner-img4 {
    position: absolute;
    /* top: -3rem; */
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 88.6%;
    width: 57.5%;
    object-fit: cover;
    object-position: 40% 0;
    border-radius: 1rem;
    /* border: 1px solid red; */
  }
  .slide2 .banner-img5 {
    position: absolute;
    right: -32%;
    bottom: 0;
    height: 60%;
    width: 47%;
    object-fit: cover;
    object-position: 0 70%;
    border-top-left-radius: 1rem;
  }

  .slide3 .banner-img3 {
    position: absolute;
    right: -46.3%;
    top: 0;
    height: 38%;
    width: 85%;
    object-fit: cover;
    object-position: 0 39%;
    border-bottom-left-radius: 1rem;
  }
  .slide3 .banner-img5 {
    position: absolute;
    left: -16%;
    bottom: 0;
    height: 60%;
    width: 47%;
    object-fit: cover;
    object-position: 0 70%;
    border-top-right-radius: 1rem;
  }
  .slide3 .banner-img6 {
    position: absolute;
    top: 0;
    left: -3%;
    width: 40%;
    height: 35%;
    object-fit: cover;
    object-position: 70% 65%;
    border-bottom-right-radius: 1rem;
  }
  .slide3 .banner-img1 {
    position: absolute;
    height: 48%;
    width: 74%;
    object-fit: cover;
    right: -38%;
    bottom: 0;
    border-radius: 1rem;
  }

  .slide-title {
    position: absolute;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
  }
  .title1 {
    top: 23.5vh;
    font-size: 1.8rem;
  }
  .title1 h1 {
    text-align: center;
  }
  .btn1 {
    display: inline-block;
    left: 50%;
    transform: translateX(-52%);
  }
  .title2 {
    top: 5%;
    font-size: 1.8rem;
  }

  .title2 h1 {
    margin: -0.3rem 4.9rem;
    padding-right: 0.1rem;
  }
  .btn2 {
    display: inline-block;
    top: 37vh;
    left: 50%;
    transform: translateX(-52%);
  }
  .title3 {
    top: 23.5vh;
    font-size: 1.8rem;
  }

  .btn3 {
    display: inline-block;
    left: 50%;
    transform: translateX(-52%);
  }
  /* -----------------------------------slider nav */
  .nav-icons {
    position: absolute;
    width: 5rem;
    height: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 1px solid rgba(127, 255, 212, 0.163);
    border-radius: 2px;
    cursor: pointer;
  }
  .nav-icon:hover {
    border: 1px solid white;
    transition: all 0.5s ease;
  }
}
/* -----------------------------------------large */
@media screen and (min-width: 1200px) {
  .carousel {
    position: relative;
    height: calc(70vh - 3rem);
    width: 70%;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .carousel-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .slides-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: -100%;
    gap: 0.5rem;
    justify-content: center;
    /* align-items: top; */
    /* border: 1px solid green; */
  }
  .slide {
    position: relative;
    width: 99%;
    height: 100%;
    /* height: 91.5%; */
    flex: 0 0 auto;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 1rem;
  }
  /* border: 1px solid red; */

  .slide1 .banner-img1 {
    position: absolute;
    left: -37.5%;
    height: 48%;
    width: 74%;
    object-fit: cover;
    bottom: 0;
    border-top-right-radius: 1rem;
  }
  .slide1 .banner-img2 {
    position: absolute;
    height: 90%;
    width: 50%;
    object-fit: cover;
    right: -17.2%;
    top: 0;
    object-position: center bottom;
    border-bottom-left-radius: 1rem;
  }
  .slide1 .banner-img3 {
    position: absolute;
    right: 55%;
    top: 0;
    height: 38%;
    width: 85%;
    object-fit: cover;
    object-position: 0 39%;
    border-bottom-right-radius: 1rem;
  }
  .slide2 .banner-img2 {
    position: absolute;
    height: 90%;
    width: 50%;
    object-fit: cover;
    left: -34%;
    top: 0;
    object-position: center bottom;
    border-bottom-right-radius: 1rem;
  }
  .slide2 .banner-img4 {
    position: absolute;
    /* top: -3rem; */
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 88.6%;
    width: 57.7%;
    object-fit: cover;
    object-position: 40% 0;
    border-radius: 1rem;

    /* border: 1px solid red; */
  }
  .slide2 .banner-img5 {
    position: absolute;
    right: -33%;
    bottom: 0;
    height: 60%;
    width: 48%;
    object-fit: cover;
    object-position: 0 70%;
    border-top-left-radius: 1rem;
  }

  .slide3 .banner-img3 {
    position: absolute;
    right: -46.3%;
    top: 0;
    height: 38%;
    width: 85%;
    object-fit: cover;
    object-position: 0 39%;
    border-bottom-left-radius: 1rem;
  }
  .slide3 .banner-img5 {
    position: absolute;
    left: -16%;
    bottom: 0;
    height: 60%;
    width: 48%;
    object-fit: cover;
    object-position: 0 70%;
    border-top-right-radius: 1rem;
  }
  .slide3 .banner-img6 {
    position: absolute;
    top: 0;
    left: -3%;
    width: 40%;
    height: 35%;
    object-fit: cover;
    object-position: 70% 65%;
    border-bottom-right-radius: 1rem;
  }
  .slide3 .banner-img1 {
    position: absolute;
    height: 48%;
    width: 74%;
    object-fit: cover;
    right: -38%;
    bottom: 0;
    border-radius: 1rem;
  }

  .slide-title {
    position: absolute;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
  }
  .title1 {
    top: 23.5vh;
    font-size: 1.8rem;
  }
  .title1 h1 {
    text-align: center;
  }
  .btn1 {
    display: inline-block;
    left: 50%;
    transform: translateX(-52%);
  }
  .title2 {
    top: 5%;
    font-size: 1.8rem;
  }

  .title2 h1 {
    margin: -0.3rem 4.9rem;
    padding-right: 0.1rem;
  }
  .btn2 {
    display: inline-block;
    top: 37vh;
    left: 50%;
    transform: translateX(-52%);
  }
  .title3 {
    top: 23.5vh;
    font-size: 1.8rem;
  }

  .btn3 {
    display: inline-block;
    left: 50%;
    transform: translateX(-52%);
  }
  /* -----------------------------------slider nav */
  .nav-icons {
    position: absolute;
    width: 5rem;
    height: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 1px solid rgba(127, 255, 212, 0.163);
    border-radius: 2px;
    cursor: pointer;
  }
  .nav-icon:hover {
    border: 1px solid white;
    transition: all 0.5s ease;
  }
}
