.cart-item {
  position: relative;
  height: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto 1.5rem;
  line-height: 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-column-gap: 1.5rem;
  /* padding: 0 3rem; */
  align-items: center;
}
.cart-item img {
  height: 7rem;
  border-radius: 1rem;
}
.item-info {
  position: relative;
}
.cart-item-remove {
  display: none;
  width: 1rem;
  height: 1rem;
  color: white;
  background-color: red;
  border-radius: 50%;
  border: none;
  padding-top: 0.07rem;
  padding-left: 0.01rem;
  align-self: end;
  /* border: 1px solid red; */
}
.cart-item h4 {
  position: absolute;
  top: 0;
}
.cart-item h5 {
  position: absolute;
  top: 1.5rem;
  font-weight: 100;
  font-size: 0.8rem;
}
.cart-item h4,
h5 {
  font-weight: 300;
}
.cart-item .item-price {
  position: absolute;
  top: 4rem;
  font-size: 0.7rem;
}
.remove-btn {
  position: absolute;
  width: 5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  left: 1.3rem;
  color: #ffffff54;
}
.amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}
.amount-btn {
  color: rgba(128, 128, 128, 0.4);
  font-size: large;
  background: transparent;
  border: none;
}
.amount-btn:hover {
  color: white;
}
.subtotal {
  margin-right: -3rem;
  width: 12rem;
}
/* --------------------------------------------------------------responsive

-----------------------------------------phone*/
@media screen and (max-width: 479px) {
  .cart-item {
    height: fit-content;
    grid-column-gap: 0.2rem;
    padding: 0 1rem 0 0.5rem;
    line-height: 1.2rem;
  }
  .cart-item img {
    margin: 1rem;
  }
  .item-info {
    /* border: 1px solid red; */
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .cart-item-remove {
    display: block;
    border: 1px solid white;
    width: 1.1rem;
    height: 1.1rem;
  }
  .remove-btn {
    display: none;
  }
  .cart-item .item-price {
    top: 83%;
  }

  .subtotal {
    display: none;
  }
  .remove-btn {
    margin: 0 auto;
  }
}

/* -------------------------------------- */
/* --------------------------------------------------------------tablet */
@media screen and (min-width: 479px) {
  .cart-item {
    height: fit-content;
    max-width: 760px;
    grid-column-gap: 0.2rem;
    padding: 0 1rem 0 0.5rem;
    line-height: 1.2rem;
  }
  .cart-item img {
    margin: 1rem;
  }
  .item-info {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-item .item-price {
    top: 53%;
  }

  .subtotal {
    font-size: 0.7rem;
    margin-right: 0;
    width: 7rem;
    /* border: 1px solid red; */
  }
  .remove-btn {
    margin: 0 auto;
  }
}
