.collections {
  position: relative;
  margin: 0 auto;
  width: 99vw;
  height: fit-content;
  min-height: 100vh;
  /* border: 1px solid red; */
}

.card-container {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  display: grid;
  justify-items: center;
  row-gap: 0.5rem;
}
.collections h2 {
  position: relative;
  margin: 0.5rem 0 0.2rem 0;
  text-align: center;
  text-transform: capitalize;
}
/* --------------------------------------------------------------responsive

-----------------------------------------phone*/
@media screen and (max-width: 479px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* -------------------------------------- */
/* --------------------------------------------------------------tablet */
@media screen and (min-width: 479px) and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* --------------------------------------------------------------laptop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* --------------------------------------------------------------desktop */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
/* --------------------------------------------------------------large */
@media screen and (min-width: 1200px) {
  .card-container {
    max-width: 1190px;
    grid-template-columns: repeat(5, 1fr);
  }
}
