/* -------------------------------------------------footer */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 99vw;
  height: fit-content;
  margin: 0 auto;
  border-radius: 1rem 1rem 0 0;
  color: rgb(128, 128, 128);
  z-index: 1000;
}

.footer-upper {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.footer-box {
  padding: 1.5rem 2rem;
  width: 100%;
  height: 8rem;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
}
.footer-box:not(:last-child) {
  border-right: 1px solid grey;
} 
.footer-box h4 {
  text-align: center;
  margin: -1rem 0 1rem;
}
.contact-info {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.info-line {
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.7rem;
}
.social {
  width: 10rem;
  /* margin-top: 3rem; */
  padding: 0 1.5rem 0;
  /* border: 1px solid green; */
}
.social-icon {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding-bottom: 0.2rem;
  box-shadow: 0px -15px 31px -7px rgba(255, 255, 255, 0.75);
}
.footer-bottom h6 {
  padding-top: 0.2rem;
}
/* -----------------------responsive-------------------------
-----------------------------------------phone*/
@media screen and (max-width: 479px) {
  .footer {
    /* width: 78vw; */
    height: fit-content;
    padding-top: 2rem;
  }
  .footer-upper {
    height: fit-content;
  }
  .footer-box p {
    /* width: 24rem; */
    margin: 0 0.9rem;
  }

  .footer-box:not(:last-child) {
    border-right: none;
  }
  .contact-info {
    margin: 0 auto;
  }
  .social {
    display: block;
    padding: 0 1.9rem 0;
    width: 20rem;
    margin: 0 auto;
  }
  .social-icon {
    display: inline;
  }

  .footer-bottom {
    text-align: center;
    box-shadow: 0px -15px 31px -7px rgba(255, 255, 255, 0.75);
  }
  .footer-bottom h6 {
    padding-top: 0.3rem;
  }
}

/* ----------------------------------------tablet */
@media screen and (min-width: 479px) and (max-width: 768px) {
  .footer {
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
  }
  .footer-upper {
    height: fit-content;
  }
  .footer-box:not(:last-child) {
    border-right: none;
  }
  .contact-info {
    margin: 0 auto;
  }

  .footer-box p {
    width: 24rem;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .social {
    display: block;
    padding: 0 1.9rem 0;
    width: 20rem;
    margin: 0 auto;
  }
  .social-icon {
    display: inline;
  }

  .footer-bottom {
    text-align: center;
    box-shadow: 0px -15px 31px -7px rgba(255, 255, 255, 0.75);
  }
  .footer-bottom h6 {
    padding-top: 0.3rem;
  }
}
/* ------------------------------laptop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding-top: 2rem;
  }
  .footer-upper {
    flex-direction: row;
  }
  .social {
    width: 50rem;
    height: 8rem;
    /* margin-top: -0.5rem; */
    display: flex;
    flex-wrap: wrap;
  }
  .social-icon {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}
/* ---------------------------desktop */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* border: 1px solid red; */
  .footer {
    height: fit-content;
    padding-top: 2rem;
  }
  .footer-upper {
    /* height: fit-content; */
    flex-direction: row;
  }
  .social {
    width: 50rem;
    height: 8rem;
    margin-top: -0.5rem;
    display: flex;
    flex-wrap: wrap;
  }
  .social-icon {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}
/* -----------------------------large */
@media screen and (min-width: 1200px) {
  /* border: 1px solid red; */
  .footer {
    height: fit-content;
    padding-top: 2rem;
    max-width: 1190px;
  }
  .footer-upper {
    /* height: 25vh; */
    flex-direction: row;
  }
  .social {
    width: 50rem;
    height: 8rem;
    margin-top: -0.5rem;
    display: flex;
    flex-wrap: wrap;
  }
  .social-icon {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}
