.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 1rem;
  background: black;
  display: grid;
  border: 1px solid black;
}
.close-modal-btn {
  font-size: 1.3rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  background-color: red;
  z-index: 10;
  border: 1px solid white;
}
.closed {
  display: none;
}
.modal-box {
  border-radius: 1rem;
  background: black;
}
.modal-cart-box {
  grid-area: cart-box;
  /* position: relative; */
  height: fit-content;
  text-align: left;
  /* border: 1px solid aquamarine; */
}
.modal-box h2 {
  font-weight: 300;
  margin-bottom: 0.1rem;
}
/* .modal-box h3 {
} */
.modal-box p {
  font-size: smaller;
  font-weight: 300;
  word-spacing: 0.2rem;
  /* color: red; */
}
.modal-cart-box p:last-of-type {
  color: rgb(254, 72, 72);
}
.modal-btn {
  width: 7rem;
  height: 1.5rem;
  text-align: center;
  font-size: small;
  /* border: none; */
  /* border: 1px solid red; */
}
.modal-btn:hover {
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.449);
}
.modal-btn:active,
.modal-btn:focus {
  border: 1px solid white;
}
.btn-icon {
  font-size: 1rem;
  margin: 0 0.5rem -0.2rem 0;
}
.modal-img-box {
  grid-area: img-box;
  display: flex;
}
.main-img {
  width: 100%;
  /* height: 30rem; */
  /* margin: 0 0.3rem; */
}
.main-img img {
  width: 100%;
  /* height: 20rem; */
  object-fit: cover;
  border-radius: 1rem;
  /* margin: 25% 0; */
}
.add-img-box {
  border-radius: 1rem;
  width: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  /* border: 1px solid red; */
}
.add-img {
  width: 3.5rem;
  height: 3.5rem;
  /* width: 12vw;
  height: 12vw; */
  border-radius: 0.2rem;
}
.selected {
  border-radius: 50%;
}

.modal-text-box {
  grid-area: text-box;
  height: fit-content;
  font-weight: 100;
  color: rgb(155, 150, 150);
  /* border: 1px solid red; */
}
/* --------------------------------------------------------------responsive

-----------------------------------------phone & tablet*/
@media screen and (max-width: 768px) {
  .modal {
    width: 22rem;
    /* height: 42rem; */
    height: fit-content;
    /* border: 1px solid red; */
    grid-template-areas:
      "cart-box"
      "img-box"
      "text-box";
  }
  .modal-cart-box {
    width: 100%;
    padding: 0.5rem 1rem 1rem;
  }
  .modal-box h2 {
    font-size: 1.4rem;
  }
  .modal-box h3 {
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
  }
  /* .modal-box p {
    
  } */
  .modal-cart-box p:last-of-type {
    margin-top: 0.5rem;
  }
  .modal-btn {
    position: relative;
    margin: 0.5rem auto -0.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .modal-img-box {
    /* height: fit-content; */
    width: 100%;
    /* border: 1px solid green; */
  }
  .main-img {
    margin-left: 0.3rem;
    /* height: 100%; */
  }
  .main-img img {
    height: 100%;
  }
  .add-img-box {
    padding-top: 0.1rem;
    justify-content: space-between;
  }
  /* .add-img {
    margin-right: 0rem;
  } */
  .modal-text-box {
    /* margin-top: -1.5rem; */
    height: fit-content;
    padding: 1rem;
  }
}

/* --------------------------------------------------------------laptop and more*/
@media screen and (min-width: 768px) {
  .modal {
    width: 30rem;
    height: fit-content;
    grid-template-areas:
      "img-box img-box cart-box"
      "img-box img-box cart-box"
      "img-box img-box cart-box"
      "img-box img-box cart-box"
      "text-box text-box text-box"
      "text-box text-box text-box";
    padding: 0.2rem;
  }

  .modal-img-box {
    height: fit-content;
    width: 16rem;
    flex-direction: column;
    align-items: center;
  }
  .main-img {
    width: 100%;
    height: 18.1rem;
    margin: 0 0.3rem 0.5rem;
  }
  .main-img img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    border-radius: 1rem;
    /* margin: 25% 0; */
  }
  .add-img-box {
    border-radius: 1rem;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
  }
  .add-img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.2rem;
  }
  .selected {
    border-radius: 50%;
  }
  .modal-cart-box {
    position: relative;
    margin-top: 1.5rem;
    width: 12rem;
    height: 20.65rem;
    /* border: 1px solid red; */
  }
  .modal-box h3 {
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .modal-box p {
    margin-bottom: 0.5rem;
  }
  .modal-cart-box p:last-of-type {
    margin-top: 0.5rem;
  }
  .modal-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .modal-text-box {
    /* border: 1px solid red; */
    grid-area: text-box;
    height: 10rem;
    font-weight: 100;
    padding: 1.5rem;
    color: rgb(155, 150, 150);
  }
}
