.range-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.range-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}

.inputs-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.slider-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: aquamarine;
  pointer-events: none;
  /* z-index: 1; */
}

.range-input {
  position: absolute;
  width: 100%;
  height: 0px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}
/* pseudo-elements for different browsers have to be selected separatly  */

/* -------------both tumbs------------ */
input[type="range"]::-moz-range-thumb {
  width: 18px; /* Width of the egg */
  height: 12px; /* Height of the egg */
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 2;
}
input[type="range"]::-webkit-slider-thumb {
  width: 18px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 2;
}
/* -------------tumbs hover------------ */
input[type="range"]:hover::-moz-range-thumb {
  background-color: aqua;
  /* border: 1px solid red; */
}
input[type="range"]:hover::-webkit-slider-thumb {
  background-color: aqua;
}
/* --------------left thumb----------- */
.left::-moz-range-thumb {
  border-radius: 70% 100% 100% 70% / 70% 80% 80% 70%;
}
.left::-webkit-slider-thumb {
  border-radius: 70% 100% 100% 70% / 70% 80% 80% 70%;
}

/* --------------right thumb----------- */
.right::-moz-range-thumb {
  border-radius: 100% 70% 70% 100%/ 80% 70% 70% 80%;
}
.right::-webkit-slider-thumb {
  border-radius: 70% 100% 100% 70% / 70% 80% 80% 70%;
}
