.range-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.range-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}

.inputs {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.range-input {
  position: absolute;
  width: 100%;
  height: 0px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}

.slider-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: aquamarine;
  pointer-events: none;
  /* z-index: 1; */
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  /* border-radius: 50%; */
  border-radius: 50%;
  /* transform: rotate(30deg); */
  border: 1px solid #fff;
  background-color: #fff;
  cursor: pointer;
  z-index: 2;
}
