.login-container {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  width: 100%;
  max-width: 20rem;
  height: fit-content;
  border: 1px solid aquamarine;
  border-radius: 20px;
  cursor: pointer;
}
.login-container:hover {
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
}

.signup-title,
.login-signup-title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  margin-top: 40px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.input-group label {
  color: white;
  font-weight: lighter;
}
.input-group input {
  max-width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  background-color: hsl(196, 97%, 12%, 0.5);
  box-shadow: 1px 1px 5px hsl(196, 96%, 18%);
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-weight: lighter;
}
.input-group input:focus {
  box-shadow: 0 0 2px aquamarine;
}

.input-group .msg {
  visibility: hidden;
  font-size: 0.7rem;
  color: red;
}
.input-group.success .msg,
.input-group.error .msg {
  display: block;
}
.input-group.success .msg {
  /* color: red; */
  /* color: rgb(137, 242, 137); */
  color: rgb(247, 133, 133);
}
.input-group.error .msg {
  color: rgb(247, 133, 133);
}
.input-group #password {
  max-width: 82%;
}
.input-group ::placeholder {
  color: rgba(255, 255, 255, 0.145);
}
.login-btn {
  margin: 1rem 0;
  padding: 0.5em 1em;
  font-size: 1rem;
  height: 3rem;
  font-weight: lighter;
  color: white;
  background-color: hsl(196, 97%, 12%, 0.25);
  border: 1px solid hsl(196, 97%, 12%);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.login-btn:hover,
.login-btn:focus {
  background-color: hsla(196, 96%, 21%, 0.4);
}
.login-btn:active {
  border: 1px solid aquamarine;
}
.move-right {
  transform: translate(58.6%);
  transition: transform 1s ease-out;
}
.move-left {
  transform: translate(-58.6%);
  transition: transform 1s ease-out;
}
/* --------------------------------------------------------------responsive

-----------------------------------------phone*/
@media screen and (max-width: 479px) {
  .login-container {
    width: 100%;
  }

  .move-left,
  .move-right {
    transform: translate(0%);
  }

  /* -------------------------------------- */
}

/* --------------------------------------------------------------tablet */
@media screen and (min-width: 479px) and (max-width: 768px) {
  .login-container {
    width: 100%;
  }

  .move-left,
  .move-right {
    transform: translate(0%);
  }
}
